.about
	position relative
	padding 100px 0 46px 0
	width 100%
	max-width max-width-page
	margin 0 auto
	overflow hidden
	&:before
		content ''
		position absolute
		top 0
		left 0
		width 765px
		height 476px
		background-image url('../img/general/fly.png')
		z-index -1
	&:after
		content ''
		position absolute
		bottom 0px
		right 0px
		width 445px
		height 364px
		background-image url('../img/general/girl.png')
		z-index -1
		
.about__container
	width 100%
	max-width max-width-container
	padding 0 15px
	margin 0 auto
	display flex
	flex-direction column
	align-items center

.about__title
	position relative
	font-size hugeText
	font-family mainTextFont
	color blue
	text-align center
	margin-bottom 35px
	&:before
		content ''
		position absolute
		top -20px
		left -17px
		width 104px
		height 38px
		transform translate(-100%, 0)
		background-image url('../img/general/star-about-before.png')
	&:after
		content ''
		position absolute
		bottom -15px
		right -14px
		width 104px
		height 38px
		transform translate(100%, 0)
		background-image url('../img/general/star-about-after.png')

.about__content
	display flex
	
.about-person
	width 100%
	max-width 430px
	display flex
	flex-direction column
	align-items center
	
.about-person__avatar
	width 100%
	max-width 250px
	display flex
	justify-content center
	align-items center
	border-radius 50%
	margin-bottom 25px

.about-person__img
	width 100%
	
.about-person__info
	width 100%
	display flex
	flex-direction column
	
.about-person__description
	text-align left
	font-size smallText
	font-family mainTextFont
	color gray
	margin-bottom 6px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out

.hidden
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	display none
	
.about-person__links
	width 100%
	display flex
	justify-content space-between
	
.about-person__goblog
	position relative
	padding 6px
	padding-left 39px
	font-size smallText
	font-family mainTextFont
	color lightOrange
	text-decoration underline
	&:before
		content ''
		position absolute
		top 50%
		left 0
		width 28px
		height 26px
		transform translate(0, -50%)
		background-image url('../img/general/goblog.png')
	
.about-person__readmore
	position relative
	padding 6px
	font-size smallText
	font-family mainTextFont
	color blue
	text-decoration underline
	cursor pointer

.about-production
	width 100%
	min-width 640px
	display flex
	flex-direction column
	align-items center

.video
	height 100%
	width 100%
	max-height 320px
	margin-top 20px
	margin-bottom 30px
	display flex
	justify-content center
	align-items center
	border-radius 15px
	overflow hidden
	
.video__iframe
	border-radius 15px
	width 100%
	max-width 425px
	height 100%
		
.about-production__description
	font-size mediumText
	font-family mainTextFont
	color gray

	

