.goods
	position relative
	padding 45px 0 5px 0
	width 100%
	max-width max-width-page
	margin 0 auto
	z-index 2
	overflow hidden
	&:before
		content ''
		position absolute
		top 0
		right 0
		width 363px
		height 451px
		background-image url('../img/general/sheep.png')
		z-index -1
	&:after
		content ''
		position absolute
		bottom 0
		left 0
		width 357px
		height 387px
		background-image url('../img/general/goods-stars.png')
		z-index -1
		
.goods__container
	width 100%
	max-width max-width-container
	padding 0 15px
	margin 0 auto
	display flex
	flex-direction column
	align-items center
	z-index 2
	padding 0
		
.goods__title
	position relative
	font-size hugeText
	font-family mainTextFont
	color purple
	margin-bottom 40px
	&:before
		content ''
		position absolute
		top -13px
		left 0px
		transform translateX(-60%)
		width 214px
		height 37px
		background-image url('../img/general/star-before.png')
		background-repeat no-repeat
	&:after
		content ''
		position absolute
		top 10px
		right -30px
		transform translateX(100%)
		width 104px
		height 37px
		background-image url('../img/general/star-after.png')
		background-repeat no-repeat
	
.goods-list
	display flex
	flex-wrap wrap
	justify-content center
	
.goods-item
	position relative
	display flex
	flex-direction column
	align-items center
	margin 15px
	margin-bottom 40px
	max-width 230px
	&:hover
		.item-img
			position relative
			&:before
				content attr(data-text)
				position absolute
				display flex
				justify-content center
				align-items center
				color white
				font-size 18px
				font-family mainTextFont
				top 0px
				left 0px
				width 100%
				height 100%
				background-color rgba(35,34,32,0.5)
				border 2px solid blue
				-webkit-box-shadow 0px 5px 24px 0px rgba(35,34,32,1)
				-moz-box-shadow 0px 5px 24px 0px rgba(35,34,32,1)
				box-shadow 0px 5px 24px 0px rgba(35,34,32,1)

.item-img__img
	width 100%

.item-img
	width 100%
	margin-bottom 20px
	
.goods-item__title
	font-size smallText
	font-family mainTextFont
	color blue
	border-bottom 2px solid blue
	text-align center