.main-banner
	position relative
	width 100%
	max-width max-width-page
	margin 0 auto
	
.slider
	position relative
	width 100%
	.slick-dots
		li
			margin-right 11px
			&:last-child
				margin-right 0
		.slick-active
			button
				background-color white
				border 5px solid white	
		position absolute
		display flex !important
		bottom 40px
		left 50%
		transform translateX(-50%)
		button
			cursor pointer
			background-color transparent
			border-radius 50%
			border 2px solid white
			font-size 0
			width 9px
			height 9px
			padding 0
			&:hover
				background-color white
				border 5px solid wite
				
.slider-item
	width 100%
	display flex
	justify-content center
	align-items center
	
.slider-item__img
	width 100%
	
.main-banner__form
	position absolute
	right 19.8%
	bottom 55px
	z-index 2
	background-image url('../img/general/form-bg.png')
	background-size 100% 100%
	min-width 200px

.form
	display flex
	flex-direction column
	width 100%
	max-width 200px
	padding 50px 20px 45px 20px
	
.form__title
	font-size smallText
	font-family mainTextFont
	color white
	text-align center
	width 100%
	margin-bottom 10px
	
.form__subtitle
	font-size tinyText
	font-family lightTextFont
	color white
	text-align center
	margin-bottom 10px
	
.form__input-name
	width 100%
	border-radius 5px
	background-color white
	border none
	margin-bottom 7px
	padding 5px 10px
	color lightGtay
	font-size tinyText
	font-family lightTextFont
	
.form__input-phone
	width 100%
	border-radius 5px
	background-color white
	border none
	margin-bottom 14px
	padding 5px 10px
	color lightGtay
	font-size tinyText
	font-family lightTextFont
	
.form__input-submit
	cursor pointer
	width 100%
	border-radius 20px
	background-color orange
	border none
	padding 5px 10px
	color white
	font-size tinyText
	font-family mainTextFont