section.content.packaging
	.container
		ul.content__bread-crumbs
			li.content__bread-crumbs--item
				a(href="#") Головна
			li.content__bread-crumbs--item.yellow-text
				a Подарункова упаковка
		.packaging__list
			.packaging__list__item
				a(href="#").packaging__list__item--img
					img(src="../../../static/img/content/packaging/item1.png", alt="Item 1")
				a(href="#").packaging__list__item--link Обгортковий папір
			.packaging__list__item
				a(href="#").packaging__list__item--img
					img(src="../../../static/img/content/packaging/item2.png", alt="Item 2")
				a(href="#").packaging__list__item--link Подарункова коробочка
			.packaging__list__item
				a(href="#").packaging__list__item--img
					img(src="../../../static/img/content/packaging/item3.png", alt="Item 3")
				a(href="#").packaging__list__item--link Пакет для подарунків