.content_catalog
	&:after
		content ''
		position absolute
		bottom 0px
		left 0px
		width 1920px
		height 1141px
		background-image url('../img/general/delivery/delivery-bg.png')
		z-index -1	
	&.container
		display flex
		flex-direction column
		padding 0

.bread-crumbs__link_broun-text
	color #e78761