+b.FOOTER.main-footer
	+b.footer-top
		.container
			+b.subscription
				+b.A.footer-logo(href="#") 4My Doll
				+e.title Підписка
				+e.description Вас повідомлять першими про різні акції і спеціальні пропозиції.
				+b.FORM.footer-form(id='subscription-form')
					+e.INPUT.input-email(type="email" name="email" id="email" placeholder="Ваш email")
					+e.BUTTON.input-button(name="subscription-submit" id="subscription-submit" value="Підписатися") Підписатися
			+b.UL.footer-menu
				each object in nav.navPages
					+b.LI.footer-menu-item
						+e.A.link(href= object['link'])= object['title']
			+b.footer-contacts
				+b.footer-phones
					+e.A.item(href="tel:8096888777666") <span class="violet">(8096) </span>888-777-666
					+e.A.item(href="tel:8096888777666") <span class="violet">(8096) </span>888-777-666
				+b.footer-social
					+e.title Розповісти про нас
					+b.social-list
						each object in content.socialList
							+b.social-item
								+e.A.link(href= object['link'])
									+icon(object['icon'])
	+b.footer-bottom
		+e.container
			+e.copyright ©2017 Все права защищены.