footer.main-footer
	.main-footer__top
		.container
			.main-footer__subscription
				a(href="#").main-footer__subscription--logo 4My Doll
				.main-footer__subscription--title Підписка
				.main-footer__subscription--descr Вас повідомлять першими про різні акції і спеціальні пропозиції.
				form.main-footer__subscription__form(id='subscription-form')
					input(type="email" name="email" id="email" placeholder="Ваш email").input-email
					input(type="submit" name="subscription-submit" id="subscription-submit" value="Підписатися").input-sub
			ul.main-footer__menu
				li.main-footer__menu--item.active-page
					a(href="#") Головна
				li.main-footer__menu--item
					a(href="#") Каталог товарів
				li.main-footer__menu--item
					a(href="#") Дитяча кімната
				li.main-footer__menu--item
					a(href="#") Новорічний декор
				li.main-footer__menu--item
					a(href="#") Подарункова упаковка
				li.main-footer__menu--item.heart-footer
					a(href="#") Блог і
				li.main-footer__menu--item
					a(href="#") Оплата і доставка
			.main-footer__contacts
				.main-footer__contacts__phones
					a(href="tel:8096888777666").main-footer__contacts__phones--item <span class="violet">(8096) </span>888-777-666
					a(href="tel:8096888777666").main-footer__contacts__phones--item <span class="violet">(8096) </span>888-777-666
				.main-footer__contacts__social
					.main-footer__contacts__social--title Розповісти про нас
					.main-footer__contacts__social__list
						.main-footer__contacts__social__list--item
							a(href="#")
								img(src="../../static/img/general/facebook.png", alt="Facebook")
						.main-footer__contacts__social__list--item
							a(href="#")
								img(src="../../static/img/general/instagram.png", alt="Instagram")
						.main-footer__contacts__social__list--item
							a(href="#")
								img(src="../../static/img/general/tweeter.png", alt="Tweeter")
	.main-footer__bottom
		.container
			.main-footer__bottom--copyright ©2017 Все права защищены.
	//- +b.block1
	//- 	+e.element1 Foo
	//- 	+b.block2
	//- 		+e.A(href="#bar").element Bar
	//- 	+e.element2 Baz