+b.HEADER.blog-header
	.container
		+b.A.logo(href="#index.html") 4My Doll
		+e.UL.blog-social
			+b.LI.color-social-item
				+e.A.link(href="#")
					+e.IMG.img(src="/static/img/general/blog/facebook.png", alt="Facebook")
			+b.LI.color-social-item
				+e.A.link(href="#")
					+e.IMG.img(src="../../static/img/general/blog/instagram.png", alt="Instagramm")
			+b.LI.color-social-item
				+e.A.link(href="#")
					+e.IMG.img(src="../../static/img/general/blog/tweeter.png", alt="Tweeter")
		+b.login
			+e.A.link(href="#") Увійти