+b.HEADER.main-header
	+e.container
		+e.top
			+b.work-time
				+e.time Пн-Сб з 9:00 до 20:00
				+e.descr Замовлення онлайн цілодобово
			+b.contacts
				+b.phones
					+e.A.phone(href="tel:809688877766") <span class='orange'>(8096)</span> 888-777-66
					+e.A.phone(href="tel:809688877766") <span class='orange'>(8096)</span> 888-777-66
				+b.A.call-btn(href="#") зворотній зв'язок
			+b.search
				+e.INPUT.input(type="search")
			+b.login
				+e.A.link(href="#") Увійти
		+e.bottom
			+b.A.logo(href="#") 4My Doll
			+b.tagline Здійсніть дитячу мрію – подаруйте казку !
			+b.A.basket(href="basket.html")
				+e.link Кошик
				+e.count 0



