+b.menu
	+e.container
		+b.mobile-menu
			+b.m-icon
				+e.IMG.img(src="../../static/img/general/menu (1).svg", alt="Mobile menu")
			+e.UL.list
				each object in nav.navPages
					+b.LI.m-list-item
						+e.A.link(href= object['link'])= object['title']
		+b.NAV.nav
			+e.UL.list
				+e.LI.list-item_active-page
					+e.A.list-item-link_blue(href="index.html") Головна
				+e.LI.list-item
					+e.A.list-item-link_broun(href="catalog.html") Каталог товарів
				+e.LI.list-item
					+e.A.list-item-link_pink(href="room.html") Дитяча кімната
				+e.LI.list-item
					+e.A.list-item-link_red(href="newyear.html") Новорічний декор
				+e.LI.list-item
					+e.A.list-item-link_yellow(href="packaging.html") Подарункова упаковка
				+e.LI.list-item_heart
					+e.A.list-item-link_violet(href="blog.html") Блог і 
				+e.LI.list-item
					+e.A.list-item-link_lilac(href="delivery.html") Оплата і доставка
