.main-footer
	width 100%
	max-width 1920px
	margin 0 auto
	
.footer-top
	width 100%
	background-color #70caf0
	padding 20px 0
	
.footer-top__container
	width 100%
	max-width 1200px
	padding 0 15px
	margin 0 auto
	display flex
	justify-content space-between

.subscription
	width 100%
	max-width 330px
	display flex
	flex-direction column
	margin-right 10px

.f-logo
	position relative
	font-size 65px
	font-family OldComedy, sans-serif
	color #fff
	margin-bottom 45px
	&:before
		content ''
		position absolute
		bottom 0px
		left 0px
		width 231px
		height 22px
		transform translateY(100%)
		background-image url('../../static/img/general/footer-stars.png')

.subscription__title
	font-size 18px
	font-family CenturyGothicBold, sans-serif
	color #7091f0
	margin-bottom 30px

.subscription__descr
	font-size 11px
	font-family CenturyGothicBold, sans-serif
	color #525151
	line-height 2
	margin-bottom 15px
	max-width 240px
	
.f-form
	width 100%
	display flex
	
.f-form__input-email
	width 100%
	max-width 199px
	background-color #fff
	border none
	padding 15px
	font-size 11px
	font-family Verdana, sans-serif
	color #979696
	
.f-form__input-sub
	cursor pointer
	width 100%
	max-width 132px
	border none
	background-color #ff903f
	padding 15px
	font-size 11px
	font-family Verdana, sans-serif
	color #fff

.f-menu
	align-self flex-start
	width 100%
	max-width 470px
	display flex
	flex-wrap wrap
	margin-right 10px
	
.f-menu-item
	width 50%
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		a
			color #7091f0
	&:before
		-moz-transition all 0.2s ease-in-out
		-o-transition all 0.2s ease-in-out
		-webkit-transition all 0.2s ease-in-out
		transition all 0.2s ease-in-out
		
.f-menu-item__link
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	display block
	width 100%
	padding 10px 10px 10px 0
	font-size 16px
	font-family CenturyGothicBold, sans-serif
	color #fff
		
.f-menu-item_heart-footer:hover
	&:before
		background-image url('../../static/img/general/b-heart-footer-blue.png')
		a
			color #7091f0

.f-contacts
	display flex
	flex-direction column
	justify-content space-between
	
.f-phones
	position relative
	margin-top 10px
	display flex
	flex-direction column
	padding-left 39px
	&:before
		content ''
		position absolute
		top 50%
		left 0px
		transform translateY(-65%)
		width 24px
		height 23px
		background-image url('../../static/img/general/footer-phone.png')

.f-phones__item
	font-size 22px
	font-family CenturyGothicBold, sans-serif
	color #fff
	margin-bottom 10px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5
		
.violet
	font-size 18px
	color #7091f0
	background-color transparent

.f-social__title
	font-size 18px
	font-family RobotoBold, sans-serif
	color #7091f0
	margin-bottom 10px
	text-align center
	
.social-list
	display flex
	justify-content center
	
.soc-item
	width 100%
	max-width 31px
	margin-right 10px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5

.soc-item__link
	width 100%

.soc-item__img
	width auto
	max-width 31px

.footer-bottom
	width 100%
	padding 15px 0
	background-color #7091f0

.footer-bottom__container
	width 100%
	max-width 1200px
	padding 0 15px
	margin 0 auto
	display flex
	justify-content center

.footer-bottom__copyright
	font-size 12px
	font-family RobotoBold, sans-serif
	color #fff
	
.f-menu-item_heart-footer
	a
		padding-right 10px
	position relative
	&:before
		content ''
		position absolute
		top 50%
		left 50px
		transform translateY(-50%)
		width 11px
		height 11px
		background-image url('../../../static/img/general/b-heart-footer.png')
		background-repeat no-repeat
		background-position center center
		z-index 1

.f-menu .f-menu-item_active-page
	a
		color #7091f0
			
.f-menu .f-menu-item_heart-footer .f-menu-item_active-page
	&:before
		background-image url('../../static/img/general/b-heart-footer-blue.png')
	a
		color #7091f0