.main-footer
	width 100%
	// max-width max-width-page
	margin 0 auto
	
.footer-top
	width 100%
	background-color lightBlue
	padding 20px 0
	.container
		justify-content space-between
		flex-direction row
		text-align left

.subscription
	width 100%
	max-width 330px
	display flex
	flex-direction column
	margin-right 10px

.footer-logo
	position relative
	font-size bigLogoText
	font-family logoFont
	color white
	margin-bottom 45px
	&:before
		content ''
		position absolute
		bottom 0px
		left 0px
		width 231px
		height 22px
		transform translateY(100%)
		background-image url('../img/general/footer-stars.png')

.subscription__title
	font-size largeText
	font-family mainTextFont
	color blue
	margin-bottom 30px

.subscription__description
	font-size tinyText
	font-family mainTextFont
	color gray
	line-height 2
	margin-bottom 15px
	max-width 240px
	
.footer-form
	width 100%
	display flex
	
.footer-form__input-email
	width 100%
	max-width 199px
	background-color white
	border none
	padding 15px
	font-size tinyText
	font-family inputFont
	color lightGray
	
.footer-form__input-button
	cursor pointer
	width 100%
	max-width 132px
	border none
	background-color lightOrange
	padding 15px
	font-size tinyText
	font-family inputFont
	color white

.footer-menu
	align-self flex-start
	width 100%
	max-width 470px
	display flex
	flex-wrap wrap
	margin-right 10px
	
.footer-menu-item
	width 50%
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		a
			color blue
	&:before
		-moz-transition all 0.2s ease-in-out
		-o-transition all 0.2s ease-in-out
		-webkit-transition all 0.2s ease-in-out
		transition all 0.2s ease-in-out
		
.footer-menu-item__link
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	display block
	width 100%
	padding 10px 10px 10px 0
	font-size mediumText
	font-family mainTextFont
	color white
		
.footer-menu-item_heart-footer:hover
	&:before
		background-image url('../img/general/b-heart-footer-blue.png')
		a
			color blue

.footer-contacts
	display flex
	flex-direction column
	justify-content space-between
	
.footer-phones
	position relative
	margin-top 10px
	display flex
	flex-direction column
	padding-left 39px
	&:before
		content ''
		position absolute
		top 50%
		left 0px
		transform translateY(-65%)
		width 24px
		height 23px
		background-image url('../img/general/footer-phone.png')

.footer-phones__item
	font-size bigText
	font-family mainTextFont
	color white
	margin-bottom 10px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5
		
.violet
	font-size largeText
	color blue
	background-color transparent

.footer-social__title
	font-size largeText
	font-family titleFont
	color blue
	margin-bottom 10px
	text-align center
	
.social-list
	display flex
	justify-content center
	
.social-item
	width 100%
	max-width 31px
	margin-right 10px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5

.icon-facebook, .icon-instagram, .icon-twitter
	fill white
	width 25px
	height 25px
	padding 0
	margin-right 10px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5

.social-item__link
	width 100%

.social-item__img
	width auto
	max-width 31px

.footer-bottom
	width 100%
	padding 15px 0
	background-color blue

.footer-bottom__container
	width 100%
	max-width 1200px
	padding 0 15px
	margin 0 auto
	display flex
	justify-content center

.footer-bottom__copyright
	font-size tinyText
	font-family RobotoBold, sans-serif
	color white
	
.footer-menu-item_heart-footer
	a
		padding-right 10px
	position relative
	&:before
		content ''
		position absolute
		top 50%
		left 50px
		transform translateY(-50%)
		width 11px
		height 11px
		background-image url('../img/general/b-heart-footer.png')
		background-repeat no-repeat
		background-position center center
		z-index 1

.footer-menu .footer-menu-item_active-page
	a
		color blue
			
.footer-menu .footer-menu-item_heart-footer .footer-menu-item_active-page
	&:before
		background-image url('../img/general/b-heart-footer-blue.png')
	a
		color blue