.blog-header
	position relative
	padding 25px 0 25px 0
	background-color #f9eafd
	width 100%
	// max-width 1920px
	margin 0 auto
	&:after
		content ''
		position absolute
		left 0
		top 0
		width 100%
		height 157px
		background-image url('../../../static/img/general/blog/header-blog-bg.png')
		z-index 0
	.container
		position relative
		display flex
		justify-content space-between
		align-items center
		z-index 2
		flex-direction row

.blog-header__blog-social
	display flex

.color-social-item
	margin-right 15px
	&:last-child
		margin-right 0
