.main-header
	overflow hidden
	padding 24px 0 34px 0
	background-image url('../img/general/main-header-bg.png')
	background-repeat cover
	background-size right center
	background-repeat no-repeat
	width 100%
	max-width 1920px
	margin 0 auto
	.container
		display flex
		flex-direction column

.main-header__top
	display flex
	justify-content space-between
	align-items flex-start
	
.main-header__top__work-time
	position relative
	padding-left 40px
	display flex
	flex-direction column
	&:before
		content ''
		position absolute
		left 0px
		top 50%
		transform translateY(-50%)
		width 24px
		height 24px
		background-image url('../img/general/calendar.png')

.main-header__top__work-time--time
	font-size 18px
	font-family CenturyGothicBold, sans-serif
	color #7091f0
	margin-bottom 5px
	
.main-header__top__work-time--descr
	font-size 12px
	font-family CenturyGothicBold, sans-serif
	color #7091f0

.main-header__top__contacts
	display flex
	flex-direction column
	align-items center

.main-header__top__contacts-phones
	position relative
	padding-left 36px
	display flex
	flex-direction column
	margin-bottom 10px
	&:before
		content ''
		position absolute
		left 0px
		top 50%
		transform translateY(-50%)
		width 24px
		height 24px
		background-image url('../img/general/phone.png')
		
.main-header__top__contacts--phone
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	font-size 16px
	font-family CenturyGothicBold, sans-serif
	color #7091f0
	margin-bottom 8px
	&:hover
		opacity 0.5
	&:last-child
		margin-bottom 0

.orange
	color #ff6c00
		
.main-header__top__contacts-btn
	width 100%
	max-width 165px
	padding 8px
	background-color #ff6c00
	border-radius 5px
	text-align center
	font-size 15px
	font-family CenturyGothicBold, sans-serif
	color #fff
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5

.main-header__top__search
	position relative
	&:before
		content ''
		position absolute
		right 15px
		top 50%
		transform translateY(-50%)
		width 18px
		height 18px
		background-image url('../img/general/search.png')
	
.main-header__top__search--input
	background-color transparent
	border 1px solid #70caf0
	border-radius 20px
	padding 8px 35px 8px 20px
	font-size 16px
	font-family CenturyGothicBold, sans-serif
	color #70caf0
	text-align right
	
.main-header__top__login
	position relative
	padding-left 38px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5
	&:before
		content ''
		position absolute
		top 50%
		left 0px
		transform translateY(-50%)
		width 24px
		height 20px
		background-image url('../img/general/login.png')
	a
		font-size 18px
		font-family CenturyGothicBold, sans-serif
		color #7091f0

.main-header__bottom
	display flex
	justify-content flex-start
	align-items flex-end
	
.main-header__bottom--logo
	font-size 65px
	font-family OldComedy, sans-serif
	color #ff579a
	font-weight 600
	margin-right 50px
	
.main-header__bottom--tagline
	font-size 31px
	font-family LobsterRegular, sans-serif
	color #e095f4
	margin-right 45px

.main-header__bottom__basket
	position relative
	display flex
	align-items center
	padding-left 37px
	margin-bottom -6px
	&:before
		content ''
		position absolute
		top 50%
		left 0px
		transform translateY(-60%)
		width 24px
		height 21px
		background-image url('../img/general/basket.png')
	
.main-header__bottom__basket--link
	font-size 18px
	font-family CenturyGothicBold, sans-serif
	color #7091f0
	padding-bottom 1px
	border-bottom 2px solid #7091f0
	margin-right 10px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5
	
.main-header__bottom__basket--count
	position relative
	padding 10px
	border 1px solid #ff740e
	border-radius 20px
	min-width 60px
	text-align center
	color #7091f0
	font-size 18px
	font-family CenturyGothicBold, sans-serif
	background-color #fff
	margin-right 75px
	&:before
		content ''
		position absolute
		top -85px
		left 15px
		width 198px
		height 170px
		background-image url('../img/general/fairy.png')
		z-index -1

// .main-header__top__search--icon
// 	display none
// 	width 100%
// 	max-width 32px
// 	justify-content center
// 	align-items center

