.main-header
	overflow hidden
	padding 24px 0 34px 0
	background-image url('../img/general/main-header-bg.png')
	background-repeat cover
	background-size right center
	background-repeat no-repeat
	width 100%
	max-width max-width-page
	margin 0 auto

.main-header__container
	position relative
	width 100%
	max-width max-width-container
	padding 0 15px
	margin 0 auto
	display flex
	flex-direction column
	&:before
		content ''
		position absolute
		top 0px
		left 85%
		width 198px
		height 170px
		background-image url('../img/general/fairy.png')
		z-index -1	

.main-header__top
	display flex
	justify-content space-between
	align-items flex-start
	
.main-header__bottom
	display flex
	justify-content flex-start
	align-items flex-end
	
.work-time
	position relative
	padding-left 40px
	display flex
	flex-direction column
	&:before
		content ''
		position absolute
		left 0px
		top 50%
		transform translateY(-50%)
		width 24px
		height 24px
		background url('../img/general/heaedr-sprit.png') -10px -10px

.work-time__time
	font-size largeText
	font-family mainTextFont
	color blue
	margin-bottom 5px
	
.work-time__description
	font-size tinyText
	font-family mainTextFont
	color blue

.contacts
	display flex
	flex-direction column
	align-items center

.phones
	position relative
	padding-left 36px
	display flex
	flex-direction column
	margin-bottom 10px
	&:before
		content ''
		position absolute
		left 0px
		top 50%
		transform translateY(-50%)
		width 24px
		height 24px
		background url('../img/general/heaedr-sprit.png') -54px -10px
		
.phones__phone
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	font-size mediumText
	font-family mainTextFont
	color blue
	margin-bottom 8px
	&:hover
		opacity 0.5
	&:last-child
		margin-bottom 0

.orange
	color orange
		
.call-button
	width 100%
	max-width 165px
	padding 8px
	background-color orange
	border-radius 5px
	text-align center
	font-size smalText
	font-family mainTextFont
	color white
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5

.search
	position relative
	
.search__input
	background-color transparent
	border 1px solid lightBlue
	border-radius 20px
	padding 8px 35px 8px 20px
	font-size mediumText
	font-family mainTextFont
	color lightBlue
	text-align right
	
.search__button
	position absolute
	right 0px
	top 50%
	-webkit-transform translateY(-50%)
	-ms-transform translateY(-50%)
	transform translateY(-50%)
	width 18px
	height 18px
	background-color transparent
	border none
	cursor pointer
	background url(../img/general/heaedr-sprit.png) -90px -1px
	padding 18px
	
.login
	position relative
	padding-left 38px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5
	&:before
		content ''
		position absolute
		top 50%
		left 0px
		transform translateY(-50%)
		width 24px
		height 20px
		background url('../img/general/heaedr-sprit.png') -54px -54px
		
.login__link
	font-size largeText
	font-family mainTextFont
	color blue


	
.logo
	font-size bigLogoText
	font-family logoFont
	color pink
	font-weight 600
	margin-right 50px
	
.tagline
	font-size hugeText
	font-family taglineFont
	color purple
	margin-right 45px

.basket
	position relative
	display flex
	align-items center
	padding-left 37px
	margin-bottom -6px
	&:before
		content ''
		position absolute
		top 50%
		left 0px
		transform translateY(-60%)
		width 24px
		height 21px
		background url('../img/general/heaedr-sprit.png') -10px -54px
	
.basket__link
	font-size largeText
	font-family mainTextFont
	color blue
	padding-bottom 1px
	border-bottom 2px solid blue
	margin-right 10px
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	-webkit-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	&:hover
		opacity 0.5
	
.basket__count
	position relative
	padding 10px
	border 1px solid orange
	border-radius 20px
	min-width 60px
	text-align center
	color blue
	font-size largeText
	font-family mainTextFont
	background-color white
	margin-right 75px
