section.content.room
	.container
		ul.content__bread-crumbs
			li.content__bread-crumbs--item
				a(href="#") Головна
			li.content__bread-crumbs--item.pink-text
				a Дитяча кімната
		.room__list
			.room__list__item
				a(href="#").room__list__item--img
					img(src="../../../static/img/content/room/item1.png", alt="Item 1")
				a(href="#").room__list__item--link Постільна білизна
			.room__list__item
				a(href="#").room__list__item--img
					img(src="../../../static/img/content/room/item2.png", alt="Item 2")
				a(href="#").room__list__item--link Декор / Покривала в стилі печворк