+b.SECTION.content_room
	.container
		+b.UL.bread-crumbs
			+e.item
				+e.A.link(href="#") Головна
			+e.item
				+e.A.link_pink-text Дитяча кімната
		+b.goods-list
			each object in contentRoom.goodsRoom
				+b.ARTICLE.goods-item
					+e.A.link(href=object['link'])
						+b.FIGURE.item-img(data-text=object['dataText'])
							+e.IMG.img(src=object['srcImg'], alt=object['alt'])
						+e.title= object['title']