@import('helpers/mixins.styl')

font('Lobster','lobster')
font('CenturyGothic','CenturyGothic')
font('Roboto','Roboto','normal','bold')
font('CenturyGothicBold','CenturyGothicBold','normal','bold')
font('OldComedy','OldComedy','normal','normal')