// ЦВЕТА
blue        = #7091f0
orange      = #ff6c00
purple      = #e095f4
white       = #ffffff
pink        = #ff579a
gray        = #525151
broun       = #e78761
yellow      = #ffda39
red         = #e45c5c
violet      = #dbc4e1
lilac       = #ff579a
lightGray   = #979696
lightOrange = #ff903f
lightBlue   = #70caf0
lightPink   = #f893bb

// РАЗМЕРЫ
max-width-page      = 1920px
max-width-container = 1200px
tinyText            = 11px
smallText           = 14px
mediumText          = 16px
largeText           = 18px
bigText             = 22px
hugeText            = 30px
bigLogoText         = 65px

// ШРИФТЫ
mainTextFont  = CenturyGothicBold, sans-serif
lightTextFont = CenturyGothic, sans-serif
logoFont      = OldComedy, sans-serif
taglineFont   = Lobster, sans-serif
inputFont     = Verdana, sans-serif
titleFont     = Roboto, sans-serif

//Контрольные точки
sm  = 544px                       // Small screen / phone
md  = 768px                       // Medium screen / tablet
lg  = 992px                       // Large screen / desktop
xl  = 1200px                      // Extra large screen desktop
xxl = 1440px                      // Wide desktop