section.content.delivery
	.container
		ul.content__bread-crumbs
			li.content__bread-crumbs--item
				a(href="#") Головна
			li.content__bread-crumbs--item.lilac-text
				a Оплата і доставка
		.after-registration
			.after-registration--title Після оформлення замовлення
			ul.after-registration__list
				li.after-registration__list--item <span class='count'>1. </span> Після оформлення замовлення в інтернет-магазині "4My Doll" на вказану адресу електронної пошти буде надіслано повідомлення-підтвердження про прийом заявки в обробку.
				li.after-registration__list--item <span class='count'>2. </span> Протягом 30 хвилин після оформлення замовлення оператор інтернет-магазину підтвердить наявність товару і уточнить спосіб доставки і оплати.
				li.after-registration__list--item <span class='count'>3. </span> Після того як замовлення зі способом доставки «Самовивіз з магазину» буде укомплектоване, на номер телефону вказаний в замовленні, буде відправлено SMS-повідомлення про готовність до видачі
				li.after-registration__list--item <span class='count'>4. </span> Для замовлень з доставкою по Києву та Україні, буде відправлено SMS-повідомлення з номером ТТН.
		.delivery-methods
			.delivery-methods--title Способи і терміни доставки
			.delivery-methods__list
				.delivery-methods__list--item
					.delivery-methods__list--item--icon
						img(src="../../../static/img/general/delivery/delivery-methods1.png", alt="Delivery method1")
					.delivery-methods__list--item--title Самовивіз з магазину
				.delivery-methods__list--item
					.delivery-methods__list--item--icon
						img(src="../../../static/img/general/delivery/delivery-methods2.png", alt="Delivery method2")
					.delivery-methods__list--item--title Доставка по Україні **<br>Протягом 1-3 днів
			.delivery-methods--descr * Термін резерву товару 2 дня. Час видачі замовлень відповідає графіку роботи магазину.
			.delivery-methods--descr2 ** Відправка товару по Україні здійснюється з понеділка по п'ятницю. Термін доставки залежить від віддаленості пункту призначення та графіку роботи відділень «Нова Пошта». Замовлення зберігаються на складах «Нова Пошта» до 5 днів.
		.payment-methods
			.payment-methods--title Способи оплати
			.payment-methods__list
				.payment-methods__list--item
					.payment-methods__list--item--top
						.payment-methods__list--item--icon
							img(src="../../../static/img/general/delivery/payment-methods1.png", alt="Payment method1")
						.payment-methods__list--item--title Готівковий розрахунок
					.payment-methods__list--item--bottom
						.payment-methods__list--item--bottom--descr При отриманні товару на відділенні "Нова Пошта" покупець сплачує вартість замовлення та вартість доставки.
				.payment-methods__list--item
					.payment-methods__list--item--top
						.payment-methods__list--item--icon
							img(src="../../../static/img/general/delivery/payment-methods2.png", alt="Payment method2")
						.payment-methods__list--item--title Безготівковий розрахунок
					.payment-methods__list--item--bottom
						.payment-methods__list--item--bottom--descr Переказ коштів на картку  "Приват Банку"
		.payment--descr
			.payment--descr--text Товар, який замовили зі способом оплати «Безготівковий розрахунок», знаходиться в резерві 2 дня. Відправлення здійснюється після надходження оплати на рахунок інтернет-магазину «4 My Doll». В разі ненадходження платежу, замовлення скасовується автоматично.