+b.SECTION.content_basket
	.container
		+b.UL.bread-crumbs
			+e.item
				+e.A.link(href="#") Головна
			+e.item
				+e.A.link_lilac-text Кошик
		+e.H2.title Оформлення замовлення
		+e.info
			+e.FORM.form
				+e.LABEL.label(for="payment")
					+e.SELECT.select(name='payment' id='payment')
						option Виберіть спосіб оплати
						option Виберіть спосіб оплати2
						option Виберіть спосіб оплати3
				+e.LABEL.label(for="post")
					+e.SELECT.select(name='post' id='post')
						option Нова Пошта
						option Нова Пошта2
						option Нова Пошта3
				+e.INPUT.input(type="text" name='name' id='basket-form-name' placeholder="Ваше ім'я")
				+e.INPUT.input(type="text" name='family' id='basket-form-family' placeholder="Ваше прізвище")
				+e.LABEL.label(for="place")
					+e.SELECT.select(name='place' id='place')
						option Вибрати місто
						option Вибрати місто2
						option Вибрати місто3
				+e.LABEL.label(for="department")
					+e.SELECT.select(name='department' id='department')
						option Вибрати місто
						option Вибрати місто2
						option Вибрати місто3
				+e.INPUT.input(type="tel" name='tel' id='basket-form-tel' placeholder="Ваш телефон")
				+e.BUTTON.button(name='basket-form-submit' id='basket-form-tel') продовжити покупки
			+b.basket-items
				+e.basket__list
					+b.basket-item
						+e.FIGURE.picture
							+e.IMG.img(src="../../../static/img/content/basket/item1.png", alt="Item1")
						+e.right
							+e.title Віночок із штучних квітів
							+e.price 350 грн
								+e.calc
									+e.LABEL.label(for="count") Кількість
										+e.INPUT.input(type="number" name="count" id="count" placeholder="1")
									+e.SPAN.calc-description В наявності
								+e.right-price
									+e.description До оплати
									+e.cost 350 грн
					+b.basket-item
						+e.FIGURE.picture
							+e.IMG.img(src="../../../static/img/content/basket/item1.png", alt="Item1")
						+e.right
							+e.title Віночок із штучних квітів
							+e.price 350 грн
								+e.calc
									+e.LABEL.label(for="count") Кількість
										+e.INPUT.input(type="number" name="count" id="count" placeholder="1")
									+e.SPAN.calc-description В наявності
								+e.right-price
									+e.description До оплати
									+e.cost 350 грн
				+b.BUTTON.order-button(id="oder-button", name="oder-button") оформити замовлення


