.content.basket
	position relative
	padding 30px 0 20px 0
	overflow hidden
	width 100%
	max-width 1920px
	margin 0 auto
	&:after
		content ''
		position absolute
		bottom 0px
		left 0px
		width 1920px
		height 910px
		background-image url('../img/general/basket/basket-bg.png')
		z-index -1	
	.container
		display flex
		flex-direction column
		padding 0
		align-items center

.content__bread-crumbs
	display flex
	margin-bottom 30px
	margin-left 15px
	width 100%
	text-align left

.content__bread-crumbs--item
	margin-right 15px
	&:last-child
		margin-right 0
		a
			&:before
				display none
	a
		display block
		position relative
		font-size 14px
		font-family CenturyGothicBold, sans-serif
		color #70caf0
		&:before
			content ''
			position absolute
			top 0px
			right -7px
			width 2px
			height 100%
			transform rotate(15deg)
			background-color #70caf0

	
.content__bread-crumbs--item.lilac-text
	a
		color #ff579a
		
.basket--title
	font-size 30px
	font-family CenturyGothicBold, sans-serif
	color #7091f0
	margin-bottom 40px
	
.basket__info
	width 100%
	display flex
	justify-content center
	
.basket__info__form
	display flex
	flex-direction column
	align-items center
	margin-right 15px
	width 100%
	max-width 385px 
	label
		width 100%
		select
			width 100%
			padding 10px 15px
			border-radius 5px
			border 2px solid #dbc4e1
			font-size 16px
			font-family CenturyGothicBold, sans-serif
			background-color #fde9f1
			color #9d9d9d
		margin-bottom 20px
	input
		width 100%
		margin-bottom 20px
		padding 10px 15px
		border-radius 5px
		border 2px solid #dbc4e1
		font-size 16px
		font-family CenturyGothicBold, sans-serif
		color #9d9d9d
	.basket-form-submit
		max-width 275px
		border none
		background-color #abe6ff
		color #fff
		margin-top 75px
		
.basket__list
	width 100%
	max-width 610px
	display flex
	flex-direction column
	margin-left 15px
	
.basket__list__item
	width 100%
	display flex
	background-color #fefbf1
	padding 15px 40px
	margin-bottom 20px
	align-items center
	
.basket__list__item--img
	width 100%
	max-width 160px
	margin-right 30px
	img
		width auto
		max-width 100%
		
.basket__list__item__right
	display flex
	flex-direction column
	width 100%
	
.basket__list__item__right--title
	font-size 20px
	font-family CenturyGothicBold, sans-serif
	color #9d9d9d
	margin-bottom 15px
	
.basket__list__item__right--price
	font-size 20px
	font-family CenturyGothicBold, sans-serif
	color #ff579a

.basket__list__item__right__calc
	padding-top 5px
	margin-bottom 15px
	display flex
	align-items center
	
.basket__list__item__right__calc, .basket__list__item__right__price--descr
	font-size 16px
	font-family CenturyGothicBold, sans-serif
	color #9d9d9d
	
.basket__list__item__right__calc--kil
	position relative
	margin-right 15px
	&:before
		content ''
		position absolute
		right 1px
		top 1px
		width 39px
		height calc(50% - 1px)
		background-color #fdeaf2
		border-radius 0 5px 0 0 
		border-left 1px solid #dbc4e1 
		border-bottom 1px solid #dbc4e1 
		background-image url('../img/general/basket/arrow-up.png')
		background-position center center
		background-repeat no-repeat
	&:after
		content ''
		position absolute
		right 1px
		bottom 1px
		width 39px
		height calc(50% - 1px)
		background-color #fdeaf2
		border-radius 0 0 5px 0 
		border-left 1px solid #dbc4e1 
		background-image url('../img/general/basket/arrow-down.png')
		background-position center center
		background-repeat no-repeat
	input
		text-align center
		width 100%
		max-width 90px
		margin-left 15px
		padding 10px 45px 10px 5px
		border-radius 5px
		border 1px solid #dbc4e1 
		color #9d9d9d
		font-size 16px
		font-family CenturyGothicBold, sans sans-serif
		

.basket__list__item__right__price
	display flex
	padding 20px 0 20px
	align-items flex-end
	border-top 1px solid #ffda39
	
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none 
	margin 0

.basket__list__item__right__price--descr
	margin-right 60px

.basket-items
	width 100%
	max-width 610px
	display flex
	flex-direction column
	align-items center

.basket__order-btn
	margin-top 30px
	margin-bottom 90px
	display block
	width 100%
	max-width 275px
	padding 15px
	font-size 18px
	font-family CenturyGothicBold,sans-serif
	color #fff
	text-align center
	background-color #ff6c00
	border-radius 5px
		
