+b.SECTION.about
	.container
		+e.H2.title Про мене
		+e.content
			+b.ARTICLE.about-person
				+e.FIGURE.avatar
					+e.IMG.img(src="../../../static/img/content/about/avatar.png", alt="Avatar")
				+e.info
					+e.description Привіт! :) Я Наталія.  Все, що Ви бачите на сайті, – створила моя фантазія та руки (правда, були задіяні ще й швейна машинка,  сантиметр та ножиці ;))) Цією творчістю я займаюся вже майже 7 років.  Спочатку то були подарунки для  сім’ї, родичів, друзів, знайомих, а потім вирішила поділитися цими мloаленькими творчими<sapn class="hidden">проектами з усіма прекрасними людьми.<br>Я мама двох хлопчиків (відкрию вам свою мрію – дуже хочу  ще доцю). Саме  після народження старшого сина мене накрила хвиля творчості. То були фотоальбоми (скрапбукінг),  декупаж (декорування по дереву), а тепер шиття. Зараз я все це поєдную.<br>Всі ми родом з дитинства – прекрасного, казкового.  Я дуже люблю вигадувати різні родинні свята,  їх оформлення для  своїх діток та чоловіка. Тому хочу взяти ці сотні кружляючих в голові ідей і перенести в реальний світ, аби зробити всім (тут, напевно, перебільшила), принаймні більшості діткам, красиві та корисні речі.  Наприклад, коли я беру декілька  гарних  тканин (що лежать у мене на поличці і чекають свого перевтілення), то уявляю пошитий з них рюкзачок на симпатичній дівчинці, яка разом з мамою в сонячний теплий день іде по алеї квітучого парку. Шиючи   для хлопчика органайзер в машину, я вже бачу як він заклопотано порпається  і не закидає  батьків у дорозі тисячами запитань, від яких голова йде обертом.<br>Ще з дитинства я постійно шила одяг  та аксесуари для ляльок. Через двадцять років зрозуміла, що вже час продовжити це захоплення і здійснити мрію всіх дівчаток – створити все необхідне для гри. Адже речі, що ви знайдете у мене на сайті, принесуть велике задоволення вашим діткам, а вам подарують   дорогоцінний час побути з собою<br>Мої прекрасні, терплячі Мами! Хочу разом з Вами вести блог, де ми будемо обговорювати корисні речі для сім’ї та побуту.  Усі бажаючі зможуть  спостерігати за творенням моїх робіт, моєю сім’єю та усім-усім-усім!<br>усім-усім-усім!</span>
					+e.links
						+e.A.goblog(href="blog.html") перейти в блог
						+e.readmore Читати далі
			+b.ARTICLE.about-production
				+b.video
					+e.IFRAME.iframe(width="1280" height="720" src="https://www.youtube.com/embed/OrpJbtjd7D8" frameborder="0" gesture="media" allowfullscreen)
				+e.description Відео, на якому я показую як проходить моделювання іграшок:)
