section.goods
	.container
		.goods--title Товари в наявності
		.goods__list
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item1.png", alt="Item 1")
				a(href="#").goods__list__item--link Органайзер в машину
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item2.png", alt="Item 2")
				a(href="#").goods__list__item--link Аксесуари для Baby Born
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item3.png", alt="Item 3")
				a(href="#").goods__list__item--link Сумочки/косметички/рюкзачки
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item4.png", alt="Item 4")
				a(href="#").goods__list__item--link Сумка-будиночок
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item5.png", alt="Item 5")
				a(href="#").goods__list__item--link Прикраси для волосся
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item6.png", alt="Item 6")
				a(href="#").goods__list__item--link Аксесуари для Barbie
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item7.png", alt="Item 7")
				a(href="#").goods__list__item--link Аксесуари для Chi Chi Love
			.goods__list__item
				a(href="#").goods__list__item--img
					img(src="../../../static/img/content/goods/item8.png", alt="Item 8")
				a(href="#").goods__list__item--link Новорічний декор