+b.SECTION.goods
	+e.container
		+e.H2.title Товари в наявності
		+b.goods-list
			each object in content.goods
				+b.A.goods-item(href=object['link'])
					+b.item-img(data-text=object['dataText'])
						+e.IMG.img(src=object['srcImg'], alt=object['alt'])
					+e.title= object['title']