+b.SECTION.goods
	.container
		+e.H2.title Товари в наявності
		+b.goods-list
			each object in content.goods
				+b.ARTICLE.goods-item
					+e.A.link(href=object['link'])
						+b.FIGURE.item-img(data-text=object['dataText'])
							+e.IMG.img(src=object['srcImg'], alt=object['alt'])
						+e.title= object['title']