section.main-banner
	.main-banner__form
		form(id="main-banner-form" name="main-banner-form")
			.form-title Швидке замовлення
			.form-subtitle Зробіть замовлення зараз та отримайте безкоштовну доставку*
			input(type="text" name="name" placeholder="Ім'я").input-name
			input(type="text" name="phone" placeholder="Телефон").input-phone
			input(type="submit" name="ord-btn" id='ord-btn' value='залишити заявку').input-submit
	.main-banner__slider
		.main-banner__slider--item
			img(src="../../../static/img/content/main-banner/slide1.png", alt="Slide 1")
		.main-banner__slider--item
			img(src="../../../static/img/content/main-banner/slide1.png", alt="Slide 1")
		.main-banner__slider--item
			img(src="../../../static/img/content/main-banner/slide1.png", alt="Slide 1")

